# Copy this file to .env and edit the settings

# Port to listen on (example: 3000)
PORT=

# MongoDB database URL (example: mongodb://localhost/dbname)
DATABASE_URL=

# Session secret string (must be unique to your server)
SESSION_SECRET=

SENDGRID_API_KEY=

# Sender and Recipient email for contact form submissions
SENDER_EMAIL=
RECIPIENT_EMAIL=

GOOGLE_ANALYTICS_TRACKING_ID=